<!--Fanney, útfærir followhnappinn-->


@using (Html.BeginForm("FollowUser", "Friend", FormMethod.Post, new { userId = "userId"}))
{
    <button type="submit" id="status" class="button" value="True"><span>follow</span></button>
}
