<!--Við vildum ekki hafa Login í bannernum svo ég bjó til þetta partial view sem er bara með Logout
    svo að það væri hægt að birta login á öðrum stað.   -Védís-->

@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
        <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
