<!--fanney, leita að notanda

<search name =" searchList" id="searchList" style="border: solid 1px #cccccc; vertical-align: middle">
    <option value="Default_Contact">Contact</option>
</search>
<input type="text" style="border: solid 1px #cccccc; vertical-align: middle" value="Search.." id="txtSearch" name="txtSearch"/>

<img src="/Images/i_search.gif" style="vertical-align: middle; height:16px;" alt="" onclick="searchClick()"/>

$('#SearchResult').html(responseText); -->