<!----Heimasvæði hóps----Fanney stofnaði------>

<div>
    @Html.Partial("_ToDoPartial")
</div>

@{
    ViewBag.Title = "GroupProfilePage";
}

<h2>Besti hópurinn</h2>

<p>
    Hér koma upplýsingar um hópinn
    Fréttaveita og verkefni
</p>


@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}s 