@model taka3.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<h2>Heimasvæði</h2>
<div>

    @if (Model.FirstName != null && Model.LastName != null)
    {
        <h3>@Model.FirstName @Model.LastName</h3>
    }
</div>

@Html.Partial("_AddPostPartial")

<div>
    @Html.Partial("_ToDoPartial")
</div>